body {
  font-family: Roboto;
  color: rgba(33, 33, 33, 1);
}
.background-one {
  background-color: #2f303a;
}
.our-team {
  background-color: #f5f4fa;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.title {
  text-transform: capitalize;
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.4;
  color: #ffffff;
}
.work,
.about {
  font-size: 36px;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
}
.logo {
  font-size: 26px;
  line-height: 1.2;
  font-weight: 700;
  font-family: Raleway;
}
.web {
  color: #2196f3;
}
.top {
  color: #212121;
}
.bottom {
  color: #ffffff;
}
.nav-section a {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 500;
  color: rgba(33, 33, 33, 1);
}
.nav-section a:hover,
.nav-section a:focus {
  color: #2196f3;
}
.contact-section a {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 500;
  color: #757575;
}
.contact-section a:hover,
.contact-section a:focus {
  color: #2196f3;
}
.text-section h4 {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
}
.text-section p {
  font-size: 14px;
  line-height: 1.7;
  font-weight: 400;
  color: #757575;
}
.about-section h4 {
  font-weight: 500;
  line-height: 1.2;
}
.about-section p {
  font-weight: 400;
  line-height: 1.2;
  color: #757575;
}
.footer-text a {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
}
.footer-text a:hover,
.footer-text a:focus {
  color: #2196f3;
}
.address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: #ffffff;
}
.portfolio-list h4 {
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
}
.portfolio-list p {
  line-height: 1.9;
  font-weight: 400;
  color: rgba(117, 117, 117, 1);
}
.button {
  background-color: #2196f3;
  color: #ffffff;
  line-height: 1.9;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}

.buttons button {
  background-color: rgba(245, 244, 250, 1);
  line-height: 1.6;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
}
.buttons button:hover {
  background-color: #2196f3;
}

.buttons button:hover {
  background-color: #2196f3;
}
